#main{
  padding: 84px 56px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 72px;
}

#titleSection{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#tutorial{
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.884);
}

#tutorial svg{
  font-size: 24px;
  animation: pulse 0.8s infinite;
}

.table-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.scrollTable::-webkit-scrollbar {
  height: 8px;  
  background-color: transparent;
}

.scrollTable::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollTable::-webkit-scrollbar-thumb {
  background: rgb(101, 155, 226);
}

.scrollTable::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 131, 219);
}


.brTableContainer{
  max-width: 100;
  overflow: hidden;
  border-radius: 5px;
  overflow-x: scroll;
  background-color: white;
  border:black 2px solid;
}

.brTable{
  border-collapse: collapse;
  border: 1px solid white;
  text-align: center;
  font-size: 10px;
  width: 100vw;
  height: 100%;
  color: black;
}

.brThead{
  background-color: rgb(230, 230, 230);
  color:black;
  font-size: 14px;
}
.brBody tr td:nth-child(1){
  border:2px solid black;
}

.brBody tr td:nth-child(1):focus{
  padding: 10px;
  border:2px solid red;
}
.brTable, th, td{
  padding: 10px;
  outline: none;
}

#formInput{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}

#suppliersList{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

#supplierButton{
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  display: flex;
  gap: 4px;
  align-items: center;
}

#supplierButton span{
  height: 12px;
  border-radius: 100%;
  display: block;
  aspect-ratio: 1/1;
  border: 1px white solid;
}

#inputsArea{
  display: grid;
  grid-template-columns:  repeat(1, 1fr);
  gap: 16px;
  width: 100%;
}

#buttonsFinish{
  display: flex;
  gap: 8px;
}

#buttonsFinish button{
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 10px;
  font-size: 24px;
}

#buttonClean{
  color: rgb(241, 109, 0);
}
#buttonClean:hover{
  transform: scale(0.8);
}

#buttonCopy{
  background-color: rgb(101, 155, 226);
  color: white;
}
#buttonCopy:hover{
  transform: scale(0.8);
}


@media (min-width: 768px) {
  #inputsArea{
    grid-template-columns:  repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  #inputsArea{
    grid-template-columns:  repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  #inputsArea{
    grid-template-columns:  repeat(6, 1fr);
  }
}


@keyframes pulse {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(10px);
  }
}